@media (min-width: 320px) {
	
/* 	.wrap {
		padding-left: 0em;
		padding-right: 0em;
	} */

/* 	.container,
	.profile {
		width: 90%;
		margin: 0px auto;
	} */

/* 	.profile-image {
		display: block;
		margin: 0 auto;
		max-width: 70%;
		padding-bottom: 15px;
	} */

	/* .name {
		margin-top: 0px;
	} */

/* 	.main-nav {
		padding: 0 0;
		padding-bottom: 1.5em;
	} */

/* 	.main-nav li {
		text-align: center;
		margin-top: 6px;
		margin-bottom: 6px;
		background-color: #fff;
	} */

/* 	#portfolio {
		background-color: #fff;
		width: 100%;
		margin: 0px auto;
	} */
	
/* 	.main-footer {
		border-top: 2px solid #e6e6e6;
		max-width: 90%;
		margin: 0 auto;
		padding-top: 30px;
		padding-bottom: 0;
	} */

/* 	.main-footer .container {
		font-size: .95em;
		font-weight: 600;
		width: 100%;
	} */

/* 	.footer-name {
		float: left;
	}

	.footer-nav {
		float: right;
	} */

	/* .footer-nav li {
		display: inline-block;
		margin: 0 auto;
	} */

/* 	.not-visible a { ///// Hides links in footer for mobile view
  		display: none;
	}

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	} */
}