@media (min-width: 768px) {

	.wrap {
		padding-left: 0em;
		padding-right: 0em;
	}

	.main-nav {
		padding-bottom: 0;
		margin-top: 0;
	}

	.main-nav li {
		background-color: #fafafa;
		display: inline-block;
	}	

	.main-header {
		text-align: center;
	}

	/*Centers main navigation*/

	.not-visible a {
  		display: inline-block;
  		padding: 0;
  		padding-left: 25px;
	}

	.back-top a {
		display: none;
	}

	.description p {
		float: left;
	}

	.profile p {
		text-align: left;
	}

	.profile-image {
		float: right;
		max-width: 40%;
		padding-left: 1em;
	}

	.profile {
		width: 100%;
		margin: 0px auto;
	}

	.col {
		float: left;
		width: 50%;
	}

	.portfolio-image {
		padding: 0 15px;
	}

	.col p {
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
		font-weight: 300;
	}

	#portfolio {
		background-color: #fff;
		width: 100%;
		margin: 0px auto;
	}
}