/***** Global Imports *****/
/***** Base Imports *****/
/* ================================= 
  Base Element Styles
==================================== */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700italic,700,800,800italic);
* {
  box-sizing: border-box; }

body {
  line-height: 1.6;
  background-color: #fafafa;
  font-family: "Open Sans", sans-serif; }

p {
  font-size: 1em;
  margin-bottom: 1.8em;
  font-weight: 400; }

h2,
h3,
a,
.name,
p {
  color: #4a4a4a; }

h2,
h3 {
  margin-top: 0; }

h2 {
  font-size: 1.1em; }

a {
  color: #4a4a4a;
  text-decoration: none; }

img {
  max-width: 100%; }

/* ---- Pseudo-classes ---- */
a:hover {
  color: #000; }

/***** Layout Imports *****/
@media (min-width: 320px) {
  .wrap {
    padding-left: 0em;
    padding-right: 0em; } }
@media (min-width: 768px) {
  .wrap {
    padding-left: 0em;
    padding-right: 0em; } }
@media (min-width: 1024px) {
  .wrap {
    line-height: 1.6;
    background-color: #fafafa;
    padding-left: 1em;
    padding-right: 1em; } }

.container {
  width: 80%;
  max-width: 1150px; }
  @media (min-width: 320px) {
    .container {
      width: 90%;
      margin: 0px auto; } }
  @media (min-width: 1024px) {
    .container {
      width: 80%;
      max-width: 1150px;
      padding-top: 15px;
      padding-bottom: 15px; } }

@media (min-width: 320px) {
  .profile {
    width: 90%;
    margin: 0px auto; } }
@media (min-width: 768px) {
  .profile {
    width: 100%;
    margin: 0px auto; } }

@media (min-width: 320px) {
  #portfolio {
    background-color: #fff;
    width: 100%;
    margin: 0px auto; } }
@media (min-width: 768px) {
  #portfolio {
    background-color: #fff;
    width: 90%;
    margin: 0px auto; } }

@media (min-width: 768px) {
  .col {
    float: left;
    width: 50%; } }
@media (min-width: 1024px) {
  .col {
    float: left;
    width: 33%; } }

@media (min-width: 768px) {
  .col p {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-weight: 300; } }

@media (min-width: 320px) {
  .profile-image {
    display: block;
    margin: 0 auto;
    max-width: 70%;
    padding-bottom: 15px; } }
@media (min-width: 768px) {
  .profile-image {
    float: right;
    max-width: 40%;
    padding-left: 1em; } }

@media (min-width: 768px) {
  .portfolio-image {
    padding: 0 15px; } }

@media (min-width: 320px) {
  .main-footer .container {
    font-size: 0.95em;
    font-weight: 600;
    width: 100%; } }

.main-header {
  padding-top: .5em;
  padding-bottom: .5em; }
  @media (min-width: 768px) {
    .main-header {
      text-align: center; } }
  @media (min-width: 1024px) {
    .main-header {
      text-align: none;
      margin: 0 auto; } }

.main-footer {
  padding: 2em 0;
  margin-top: 30px; }
  @media (min-width: 320px) {
    .main-footer {
      border-top: 2px solid #e6e6e6;
      max-width: 90%;
      margin: 0 auto;
      padding-top: 30px;
      padding-bottom: 0; } }
  @media (min-width: 1024px) {
    .main-footer {
      width: 80%;
      max-width: 1150px; } }

.main-footer h3 {
  padding: 0 0; }

@media (min-width: 320px) {
  .footer-name {
    float: left; } }

@media (min-width: 320px) {
  .footer-nav {
    float: right; } }

@media (min-width: 320px) {
  .footer-nav li {
    display: inline-block;
    margin: 0 auto; } }

@media (min-width: 320px) {
  .not-visible a {
    display: none; } }
@media (min-width: 768px) {
  .not-visible a {
    display: inline-block;
    padding: 0;
    padding-left: 25px; } }

@media (min-width: 768px) {
  .back-top a {
    display: none; } }

@media (min-width: 320px) {
  .clearfix::after {
    content: " ";
    display: table;
    clear: both; } }

.name {
  font-size: 1.5em;
  margin: 0; }
  @media (min-width: 320px) {
    .name {
      margin-top: 0px; } }
  @media (min-width: 1024px) {
    .name {
      float: left; } }
  .name a {
    display: inline-block;
    font-weight: 900;
    padding: 10px 15px;
    display: block; }
    @media (min-width: 1024px) {
      .name a {
        padding-left: 0; } }

.main-nav {
  margin-top: 5px; }
  @media (min-width: 320px) {
    .main-nav {
      padding: 0 0;
      padding-bottom: 1.5em;
      display: none; } }
  @media (min-width: 768px) {
    .main-nav {
      padding-bottom: 0;
      margin-top: 0;
      display: initial; } }
  @media (min-width: 1024px) {
    .main-nav {
      float: right; } }
  .main-nav a {
    display: inline-block;
    font-weight: 900;
    padding: 10px 15px;
    display: block;
    font-size: .95em;
    text-transform: uppercase; }
    @media (min-width: 1024px) {
      .main-nav a {
        padding-right: 0; } }
  @media (min-width: 320px) {
    .main-nav li {
      text-align: center;
      margin-top: 6px;
      margin-bottom: 6px;
      background-color: #fff; } }
  @media (min-width: 768px) {
    .main-nav li {
      background-color: #fafafa;
      display: inline-block; } }
  @media (min-width: 1024px) {
    .main-nav li {
      display: inline-block;
      margin-left: 15px; } }

@media (min-width: 320px) {
  .slicknav_menu {
    display: block; } }
@media (min-width: 768px) {
  .slicknav_menu {
    display: none; } }
@media (min-width: 1024px) {
  .slicknav_menu {
    display: none; } }

h1,
h2,
h3,
p, .name a, .main-nav a {
  text-align: center; }

h2, h3, .container {
  padding-top: 15px; }

h3, .container {
  padding-bottom: 15px; }

.description,
.contact p {
  font-size: 1.25em;
  font-weight: 300;
  color: #8b8b8a; }

@media (min-width: 768px) {
  .description p {
    float: left; } }

@media (min-width: 768px) {
  .profile p {
    text-align: left; } }

#contact span {
  display: inline-block;
  font-weight: 600;
  margin-top: 10px; }

/**** Nested Rule ****/
.contact p {
  width: 70%;
  margin: 0 auto 25px auto; }

/*# sourceMappingURL=application.css.map */
