/* ================================= 
  Base Layout Styles
==================================== */


/* ---- Float clearfix ---- */

	.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}


