.description,
.contact p {
	font-size: $contact-size;
	font-weight: 300;
	color: $color-text-footer;
}

.description p {
	@include tablet {
		float: left;
	}
}

.profile p {
	@include tablet {
		text-align: left;
	}
}

#contact span {
	display: inline-block;
	font-weight: 600;
	margin-top: 10px;
}

///
/**** Nested Rule ****/
///

.contact {

	p {
		width: 70%;
		margin: 0 auto 25px auto;
	}

}

////////