.name {
	font-size: $name-size;
	margin: 0;

	@include mobile {
		margin-top: 0px;
	}
	@include desktop {
		float: left;
	}

	a {
		@extend %centered;
		display: inline-block;
		font-weight: 900;
		padding: 10px 15px;
		display: block;
			@include desktop {
				padding-left: 0;
			}
	}
}

.main-nav {
	margin-top: 5px;
	@include mobile {
		padding: 0 0;
		padding-bottom: 1.5em;
		display: none;
	}
	@include tablet {
		padding-bottom: 0;
		margin-top: 0;
		display: initial;
	}
	@include desktop {
		float: right;
	}

	a {
		@extend %centered;
		display: inline-block;
		font-weight: 900;
		padding: 10px 15px;
		display: block;
		font-size: $nav-size;
		text-transform: uppercase;
			@include desktop {
				padding-right: 0;
			}
	}

	li {
	@include mobile {
		text-align: center;
		margin-top: 6px;
		margin-bottom: 6px;
		background-color: $color-portfolio;
	}
	@include tablet {
		background-color: $color-body;
		display: inline-block;
	}
	@include desktop {
		display: inline-block;
		margin-left: 15px;
		}
	}
}



/// SlickNav Menu

.slicknav_menu {
	@include mobile {
		display: block;
		}
	@include tablet {
		display: none;
		}
	@include desktop {
		display: none;
	}	
			
	}


