.name {
	font-size: $name-size;
	margin: 0;

	@include mobile {
		margin-top: 0px;
	}
	@include desktop {
		float: left;
	}
}

.main-nav {
	margin-top: 5px;
	@include mobile {
		padding: 0 0;
		padding-bottom: 1.5em;
	}
	@include tablet {
		padding-bottom: 0;
		margin-top: 0;
	}
	@include desktop {
		float: right;
	}
}

.name a,
.main-nav a {
	@extend %centered;
	display: inline-block;
	font-weight: 900;
	padding: 10px 15px;
	display: lock;
}

.main-nav a {
	font-size: .95em;
	text-transform: uppercase;

	@include desktop {
		padding-right: 0;
	}
}

.name a {
	@include desktop {
		padding-left: 0;
	}
}

.main-nav li {
	@include mobile {
		text-align: center;
		margin-top: 6px;
		margin-bottom: 6px;
		background-color: $color-portfolio;
	}
	@include tablet {
		background-color: $color-body;
		display: inline-block;
	}
	@include desktop {
		display: inline-block;
		margin-left: 15px;
	}
}
