/* ================================= 
  Base Element Styles
==================================== */


* {
	box-sizing: border-box;
}

body {
	line-height: 1.6;
	background-color: $color-body;
	font-family: $stack-sans-serif;
}

p {
	font-size: $paragraph-size;
	margin-bottom: 1.8em;
	font-weight: 400;
}

h2,
h3,
a,
.name,
p {
	color: $color-container;
}

h2,
h3 {
	margin-top: 0;
}

h1,
h2,
h3,
p 
	{
	@extend %centered;
}

h2 {
	@extend %padding-top;
	font-size: $heading-size;
}

h3 {
	@extend %padding-top;
	@extend %padding-bottom;
}

a {
	color: $color-container;
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* ---- Pseudo-classes ---- */

a {
	&:hover {
		color: #000;
	}
}
